body {
  padding-top: 3rem;
}
pre:first-child {
  margin-top: 0;
}
.bar,
.label {
  margin-bottom: 0.3rem;
}
.payment-method {
  padding: 0.4rem 0;
}

#payment-request-js,
#new-payment-request-js {
  margin-bottom: 0.3rem;
}
#payment-request-js:not(:empty)::after,
#new-payment-request-js:not(:empty)::after {
  color: darkgray;
  content: "-or-";
  text-align: center;
  display: block;
  font-size: 12px;
  margin-top: 0.3rem;
}

code::before {
  content: attr(data-label);
  display: block;
}
