<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stripe</title>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    <div class="container">
      <div class="columns">

        {{!--  Subscription  --}}
        <div class="column col-6">
          <div class="form-js form-group">

            <div class="form-group">
              <input class="form-input" type="text" id="subs-js" placeholder="Subscription" value="sub_1KoeaIIkEA4FHEfpLqmJKQQ9">
            </div>
            <div class="form-group">
              <button id="btn-subs" class="btn">Subscription</button>
            </div>

            <div class="bar bar-sm"></div>

            <div class="form-group">
              <button id="btn-element" class="btn btn-link">Create Element</button>
            </div>

            <div class="form-group">
              <div id="card-sjs"></div>
              <p class="input-message-js form-input-hint"></p>
            </div>

            <div id="add-card-js" class="form-group d-none">
              <button id="btn-add-js" class="btn btn-primary">Add card</button>
            </div>

          </div>

        </div>

        {{!--  Customer  --}}
        <div class="column col-6">
          <div class="form-group">
            <input class="form-input" type="text" id="customer-js" placeholder="Client ID" value="cus_LVfuhzt4MXaXKm">
          </div>
          <div class="form-group">
            <button id="btn-customer" class="btn">Customer</button>
            <button id="btn-paymentMethods" class="btn">Payment methods</button>
          </div>
          <div class="bar bar-sm"></div>

          <div id="payment-methods"></div>
        </div>
      </div>
    </div>


    <script src="/js/script.js"></script>
  </body>
</html>
