<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Update payment method</title>
    <script src="https://js.stripe.com/v3/"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>

    <div class="container">
      <div class="columns">

        {{!  Subscription  }}
        <div class="column col-6">
          <div class="form-js form-group">

            <div class="form-group">
              <input
                class="form-input"
                type="text"
                id="subs-js"
                placeholder="Subscription"
                value="sub_1Kr78NEv92Ty3pFAPJaOtDr7"
              />
            </div>
            <div class="form-group">
              <button id="btn-subs" class="btn">Subscription</button>
            </div>

            <div class="bar bar-sm"></div>

            <div class="form-group">
              <button id="btn-element" class="btn btn-link">Create Element</button>
            </div>

            <div class="form-group">
              <div id="card-sjs"></div>
              <p class="input-message-js form-input-hint"></p>
            </div>

            <div id="add-card-js" class="form-group d-none">
              <button id="btn-add-js" class="btn btn-primary">Add card</button>
            </div>

          </div>

        </div>

        {{!  Customer  }}
        <div class="column col-6">
          <div class="form-group">
            <input
              class="form-input"
              type="text"
              id="customer-js"
              placeholder="Client ID"
              value="cus_KRx6qW2xK9G97j"
            />
          </div>
          <div class="form-group">
            <button id="btn-customer" class="btn">Customer</button>
            <button id="btn-paymentMethods" class="btn">List payment methods</button>
            <button id="btn-default-payment-method" class="btn">Only default</button>
            <button id="btn-checkout" class="btn">Checkout</button>
          </div>
          <div class="bar bar-sm"></div>

          <div class="form-group checkout-form">
            <div id="new-card-sjs"></div>
            <p class="new-input-message-js form-input-hint"></p>
          </div>
          <div id="new-add-card-js" class="form-group d-none checkout-form-btn">
            <button id="new-btn-add-js" class="btn btn-primary">Pay</button>
          </div>

          <div id="payment-methods"></div>
          <div id="checkout-payment-option"></div>
          <div id="checkout-message"></div>
        </div>
      </div>

      <div class="bar bar-sm"></div>
      <div class="bar bar-sm"></div>

      <div class="column col-6">
        <div class="form-group">
          <input
            class="form-input"
            type="text"
            id="new-customer-js"
            placeholder="email"
            value=""
          />
        </div>

        <div id="add-user-js" class="form-group">
          <button id="btn-user-js" class="btn btn-primary">Create User</button>
        </div>
      </div>

      <div class="column col-6">
        <div class="form-group new-checkout-form d-none">
          <div id="new-user-card-sjs"></div>
          <p class="new-user-input-message-js form-input-hint"></p>
        </div>

        <div
          id="new-user-add-card-js"
          class="form-group d-none new-checkout-form-btn"
        >
          <button id="new-user-btn-add-js" class="btn btn-primary">Pay</button>
        </div>
      </div>

    </div>

    <script src="/js/update-payment.js"></script>
  </body>
</html>